

.img-grupo{
    height: 50%;
    width: 50%;
}

.card-img-top{
    height: 50%;
    width: 50%;
}


.Img-discografia{
    height: 50%;
    width: 50%;
}


.contacto-imagen{
    height: 25%;
    width: 25%;  
}


.icon{
    height: 70px;
    width: 70px;;
}



    

