//VARIABLES PARA CAJAS//
$bordes-cajas: 2px solid #000000;
$background-cajas: #daa520;


//VARIABLES PARA TIPOGRAFIAS//
$tipografias: "fa-light fa-kerning";


//MIXIN PARA BOTON//
@mixin boton {
    display: flex;
    justify-content: center;
}

//IMPORTS//
//IMPORT ESTILO CONTENEDORES//
@import "./BIOGRAFIAS/contenedores";
//IMPORT ESTILO BODY//
@import "./MAIN/body";
//IMPORT ESTILO FOTO GRUPO//
@import "./MAIN/foto-grupo";
//IMPORT ESTILO DISCOGRAFIA//
@import "./MUSICA/discografia";
//IMPORT ESTILO CONTACTO//
@import "./CONTACTO/contacto";
//IMPORT ESTILO HEADER//
@import "./HEADER/header";
//IMPORT ESTILO MAIN//
@import "./MAIN/main";
//IMPORT ESTILO FOOTER//
@import "./FOOTER/footer";





.card-img-top{
    height: 50%;
    width: 50%;
}







 



