//VARIABLES PARA CAJAS//
$bordes-cajas: 3px solid goldenrod;
$background-cajas: goldenrod;


//IMPORTS//
//IMPORT ESTILO CONTENEDORES//
@import "contenedores";
//IMPORT ESTILO BODY//
@import "body";
//IMPORT ESTILO FOTO GRUPO//
@import "foto-grupo";
//IMPORT ESTILO DISCOGRAFIA//
@import "discografia";
//IMPORT ESTILO CONTACTO//
@import "contacto";
//IMPORT ESTILO HEADER//
@import "header";
//IMPORT ESTILO MAIN//
@import "main";







.card-img-top{
    height: 50%;
    width: 50%;
}







 



