.parent{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 1%;
    grid-template-areas:    "a" 
                            "b" 
                            "c" 
                            "d" 
                            "e" 
                            ;                        
}

.item-0{
    grid-area: a; 
    border: $bordes-cajas; 
    background: $background-cajas;
    font-family: $tipografias;
    display: flex;
    flex-direction: column;
    
    
   
}



.item-1{
    grid-area: b;
    border: $bordes-cajas;
    background: $background-cajas;
    font-family: $tipografias;
    display: flex;
    flex-direction: column;
  
    
}

.item-2{
    grid-area: c;
    border: $bordes-cajas; 
    background: $background-cajas;
    font-family: $tipografias;
    display: flex;
    flex-direction: column;
    
    
}

.item-3{
    grid-area: d;
    border: $bordes-cajas;
    background: $background-cajas;  
    font-family: $tipografias;
    display: flex;
    flex-direction: column;
}

.item-4{
    grid-area: e;
    border: $bordes-cajas;
    background: $background-cajas;
    font-family: $tipografias; 
    display: flex;
    flex-direction: column;
    
}

 .img-grid{
    width: 150px;
    height: 150px;
    
    
    
 }  