//VARIABLES PARA CAJAS//
$bordes-cajas: 2px solid #000000;
$background-cajas: #daa520;


//VARIABLES PARA TIPOGRAFIAS//
$tipografias: "fa-light fa-kerning";


//MIXIN PARA BOTON//
@mixin boton {
    display: flex;
    justify-content: center;
}