

.contacto-imagen{
    height: 25%;
    width: 25%;  
}

.biografia-contacto{
    font-family: $tipografias;
}

.card{
    background-color: goldenrod;
    
}

.boton{
    display: flex;
    justify-content: center;
}

