

.contacto-imagen{
    height: 25%;
    width: 25%;  
}

.biografia-contacto{
    font-family: $tipografias;
    font-size: 20px;
}

.card{
    background-color: goldenrod;
    
}

.boton{
    @include boton;

}

